body{
	font:normal 14px/22px "微软雅黑";
	color:#888888;
	}
	
h2{
	font:16px/30px "微软雅黑";;
	color:#526776;}
	
a{
	color:#888888;
	text-decoration:none;}
	
a:hover{
	color:#FF6600;
	text-decoration:underline;
	}	
	
	
.blue{
	color:#3ea9f1;}
	
.green{
	color:#72bd13;}
	
.orgean{
	color:#ff7c34;}
	
.nav{color:#797979;}

.wrap{
	width:1000px;border:1px solid #E9E9E9;
	margin:0 auto;
	height:100%;
	overflow:hidden;
	}
	
	
.nav_bg{
	background:url(../../image/na_bg.png) repeat-y;
	}
	
.sub{
	float:left;
	width:192px;
	}
	
.sub_con{
	float:left;
	width:192px;
	margin:10px 0;}
	
.sub_con h3{
	float:left;
	width:191px;
	height:39px;
	text-align:center;
	margin:0;
	padding:0;
	font:16px/39px "微软雅黑";
	background:url(../../image/nav-tit.png) repeat-x;
	}
	
.sub_con .subtext{
	float:left;
	padding:10px;
	width:172px;}
	
.subtext a{
	float:left;
	width:76px;
	padding:5px;
	text-align:center;}
	
	
.nav_img{
	float:left;
	width:76px;
	padding:5px;
	text-align:center}

.nav_img a{
	display:block;
	padding-top:64px;
	text-decoration:none;
}

.nav_img a:hover{
	color:#33a0e9;
}


	

.nav_byq a{
	background:url(../../image/byq.png) no-repeat center 0;}
	
.nav_byq a:hover{
	background:url(../../image/byq_hover.png) no-repeat center 0;}
	
.nav_byq .click{
	background:url(../../image/byq_hover.png) no-repeat center 0;}
		
	
.nav_kg a{
	background:url(../../image/off.png) no-repeat center 0;}
	
.nav_kg a:hover{
	background:url(../../image/off-hover.png) no-repeat center 0;}
	
.nav_gt a{
	background:url(../../image/gt.png) no-repeat center 0;}
	
.nav_gt a:hover{
	background:url(../../image/gt-hover.png) no-repeat center 0;}
	
.nav_xn a{
	background:url(../../image/xn.png) no-repeat center 0;}
	
.nav_xn a:hover{
	background:url(../../image/xn-hover.png) no-repeat center 0;}
	
.nav_df a{
	background:url(../../image/df.png) no-repeat center 0;}
	
.nav_df a:hover{
	background:url(../../image/df-hover.png) no-repeat center 0;}
	
.nav_dyzc a{
	background:url(../../image/dyzc.png) no-repeat center 0;}
	
.nav_dyzc a:hover{
	background:url(../../image/dyzc-hover.png) no-repeat center 0;}
	
.sub_search_input{
	float:left;
	width:134px;
	height:32px;
	background:url(../../image/search.png) no-repeat;}
	
.sub_search_btn{
	float:left;
	widht:40px;
	height:32px;
	}
	
	
.menu{
	float:left;
	width:809px;}
	
	
.top{
	width:1000px;
	height:64px;
	background:#36a0e9;
	margin:0 auto;
	}
	
.logo{
	float:left;
	width:350px;
	height:35px;
	margin:8px 0 8px 30px;
	font:26px/48px ""微软雅黑;
	text-align:left;
	color:#fff;}
	
.logo span{
	float:left;
	margin-right:20px;
	}
	
.siteinfo{
	float:right;
	width:240px;
	margin-top:20px;
	}
.siteinfo-text a{
	float:left;
	width:60px;
	color:#fff;
	margin-right:30px;
	padding-left:30px;}

	
.siteinfo-text a:hover{color:#fcff00;}


.siteinfobg1 a{
	background:url(../../image/icon1.png) no-repeat;}
	
.siteinfobg1 a:hover{
	background:url(../../image/icon1-hvoer.png) no-repeat;}
	
.siteinfobg2 a{
	background:url(../../image/icon2.png) no-repeat;}
	
.siteinfobg2 a;hover{
	background:url(../../image/icon2-hover.png) no-repeat;}
	
	
.main{
	float:left;
	widht:808px;}

.main_margin{
	margin:0 0 0 157px;

	}
	
	
/**
tab组合按钮 begain
*/	
.tab2{
	float:left;
	width:788px;
	height:30px;
	padding:20px 0 0 20px;
	background:url(../../image/tab-bg.png) repeat-x;

}

	
	
	
.tab2_middle{
	float:left;
	height:28px;

	}

	
.tab2_middle  a{
	float:left;
	width:103px;
	color:#797979;
	height:30px;
	margin-right:15px;
	text-align:center;
	font:16px/30px "微软雅黑";
	display:block;}
	
.tab2_middle  a:hover{
	color:#33a0e9;
	text-decoration:none;
	background:url(../../image/tab_hover.png) repeat-x 0 bottom;
	}	

	
.tab2_middle  a.click{
	color:#33a0e9;
	text-decoration:none;
	background:url(../../image/tab_hover.png) repeat-x 0 bottom;
	}
		
	
	
/**
tab组合按钮 end
*/		
	
.tab{
	float:left;
	width:788px;
	height:30px;
	padding:20px 0 0 20px;
	background:url(../../image/tab-bg.png) repeat-x;}
	
.tab a{
	float:left;
	width:103px;
	height:30px;
	margin-right:15px;
	text-align:center;
	font:16px/30px "微软雅黑";
	display:block;

	}
	
.tab a:hover{
	color:#33a0e9;
	text-decoration:none;
	background:url(../../image/tab_hover.png) repeat-x 0 bottom;
	}
.tab .click{
	color:#33a0e9;
	text-decoration:none;
	background:url(../../image/tab_hover.png) repeat-x 0 bottom;
	}	
.con{
	float:left;
	width:778px;
	margin:20px 15px;
	border-bottom:solid 1px #e9e9e9;
	clear:both}
.con2{
	float:left;
	width:864px;
	margin:20px 15px;
	border-bottom:solid 1px #e9e9e9;
	clear:both}	
	
	
.con3{
	
	width:1000px;background:#f7f7f7;
	 float:left;
	 margin:1px 15px; 
	border-bottom:solid 1px #e9e9e9;
	clear:both}		
	
.module_small{
	float:left;
	width:311px;
	margin:0 0 20px 0;
	padding-right:15px;
	border-right:solid 1px #e9e9e9;
	}
.module_small2{
	float:left;
	width:411px;
	margin:0 0 20px 0;
	padding-right:15px;
	border-right:solid 1px #e9e9e9;
	}
		
.module_top{
	float:left;
	width:121px;
	margin:0 0 20px 0;
	padding-right:15px;
	border-right:solid 1px #e9e9e9;
	}	
	
	
.module_small_con{
	float:left;
	width:311px;}
.module_small_con_img{
	margin:17px 0 5px 12px;

	}	
	
.module_small_con h4 a{
	font:normal 16px/30px "微软雅黑";
	color:#526776;
	text-decoration:none;
}

.module_small_con2 h4 a{
	font:normal 16px/30px "微软雅黑";
	color:#526776;
	text-decoration:none;
}

.module_small_con h4 a:hover{
	color:#33a0e9;
	text-decoration:underline;
}

.module_small_con2 h4 a:hover{
	color:#33a0e9;
	text-decoration:underline;
}

.module_small_con span{
	float:left;
	/* width:311px; */
	padding:0;
	margin:0;}
.module_small_con2 span{
	float:left;
	/* width:311px; */
	padding:0;
	margin:0;}
	
.module_big{
	float:left;
	width:426px;
	margin:0 0 0 15px;
}
.module_big2{
	float:left;
	width:411px;
	margin:0 0 0 15px;
}
.con h4{
	float:left;
	display:block;
	wight:150px;
	margin:0 0 10px 0;
	padding:0 0 0 28px;
	font: normal 16px/20px "微软雅黑";
	color:#526776;
	text-align:left;
	background:url(../../image/h4icon.png) no-repeat left 1px;
	}
	
.con2 h4{
	float:left;
	display:block;
	wight:150px;
	margin:0 0 10px 0;
	padding:0 0 0 28px;
	font: normal 16px/20px "微软雅黑";
	color:#526776;
	text-align:left;
	background:url(../../image/h4icon.png) no-repeat left 1px;
	}	
.con3 h4{
	float:left;
	display:block;
	wight:150px;
	margin:0 0 10px 0;
	padding:0 0 0 28px;
	font: normal 16px/20px "微软雅黑";
	color:#526776;
	text-align:left;
	background:url(../../image/h4icon.png) no-repeat left 1px;
	}		
	
.module_small_con{
	float:left;
	width:311px;
	}
.module_small_con2{
	float:left;
	width:411px;
	}
		
.module_big_con{
	float:left;
	width:436px;}
	
.module_big_con2{
	float:left;
	width:411px;}	
.nav-searchinput{
	 border: 1px solid #C3CED9;
     border-radius: 15px 0 0 15px;
     font-size: 14px;
     height: 30px;
     line-height: 30px;
     margin-right: 10px;
     padding: 0;
     width: 135px;}
	 
	 
.nav-searchinputbg{
	width:40px;
	height:32px;
	border:0;
	cursor:pointer;
	background:url(../../image/search-btn.png) no-repeat;}
	
	
	
.module_small_con h4{
	float:left;
	width:311px;
	text-align:left;
	padding:0;
	margin:0;
	background:none;
}
.module_small_con2 h4{
	float:left;
	width:311px;
	text-align:left;
	padding:0;
	margin:0;
	background:none;
}
.cj{
	float:left;
	width:260px;
	height:214px;
	margin-right:10px;}
	
.cj2{
	float:right;
	width:165px;
	height:214px;
	}
	
.jz{
	float:left;
	width:68px;
	height:215px;
	margin-right:20px;}
	
	
.jz2{
	float:right;
	width:338px;
	height:215px;}
	
.jz2 h5{
	width:338px;
	padding:0;
	margin:0;
	color:#526776;
	font-size:16px;
	text-align:center;
	}
	
.jz2 span{
	display:block;
	width:338px;
	height:158px;
	background:#f7f7f7;
	}
	
	
.page{
	margin:0 auto;
	width:1000px;
	height:80px;
	text-align:center;
	 background:#dbdbdb;
	 color:#888888;  
	padding-top:25px;}
	
	
	
	
*{margin:0;padding:0}
 div.t_list{ margin:5px 0 0 22px;}
 div.t_list dl{width:663px;display:inline-block;border-top:1px solid #ccc;}
 div.t_list dl dt{font:bold 12px/150% Arial;color:#333;float:left;width:98px; padding-left:10px; 

height:20px; border:1px solid #ccc; border-top:0;}
 div.t_list dl dd{font:12px/150% Arial;color:#000; float:left;width:100px; padding-left:10px; 

height:20px; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}

#dd2{font:12px/150% Arial;color:#000; float:left;width:321px; padding-left:10px; 

height:20px; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
 #apDiv1 {
	position:absolute;
	width:631px;
	height:243px;
	z-index:1;
	font-size: 24px;
}
#apDiv1 strong {
	font-family: "宋体";
}	
	
	
	
	
	
/***
所组合控件 begin
*/	



.suo_tab{
	z-index:9999999;position:relative;
	
	height:188px;
	width:491px;
	margin:50px 0 0 0!important;
	margin:50px 0 0 0;
	font:normal 12px/28px "宋体";
	color: #000000;
	mrgin:1px 0 2px 0;
	
	overflow:hidden;
 	
	
}

	
	
	
.suo_tab_middle{
	float:left;
	width:192px;

	}
.suo_tab_middle h3{
	float:left;
	width:191px;
	color:#797979;
	height:39px;
	text-align:center;
	margin:0;
	padding:0;
	font:16px/39px "微软雅黑";
	background:url(../../image/nav-tit.png) repeat-x;
	}

	
.suo_tab_middle .suo_subtext{
	float:left;
	padding:10px;
	width:172px;}
.suo_subtext a{
	float:left;
	width:76px;
	padding:5px;
	text-align:center;}
	
.suo_tab_middle span{
	float:left;
	text-align:center;
	width:80px;
	height:28px;
	
	
	}
	

	
.suo_tab_middle span a{
	font:normal 13px/28px "宋体";
	color:#797979;
	text-align:center;
	width:80px;
	text-decoration:none;}
	
.suo_tab_middle span a:hover{
	display:block;
	color:#666666;
	color:#000;
	text-decoration:underline;
	font-weight:bold;
	}	

	
.suo_tab_middle span a.click{
	display:block;
	color:#666666;
	cursor: pointer;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	
	}	
/***
所组合控件 end
*/		


/**
变电站组合控件begin
*/

.bdz_tab{
	z-index:9999999;position:relative;
	
	height:128px;
	width:491px;
	margin:50px 0 0 0!important;
	margin:50px 0 0 0;
	font:normal 12px/28px "宋体";
	color: #000000;
	mrgin:1 0px 2 0;
	
	overflow:hidden;
 	
	
}

.bdz_tab h3{
	float:left;
	width:191px;
	height:39px;
	color:#797979;
	text-align:center;
	margin:0;
	padding:0;
	font:16px/39px "微软雅黑";
	background:url(../../image/nav-tit.png) repeat-x;
	}	
	
	
.bdz_tab_middle{
	float:left;
	width:192px;

	}
.bdz_tab_middle h3{
	float:left;
	width:191px;
	height:39px;
	text-align:center;
	margin:0;
	padding:0;
	font:16px/39px "微软雅黑";
	background:url(../../image/nav-tit.png) repeat-x;
	}

	
.bdz_tab_middle .bdz_subtext{
	float:left;
	padding:10px;
	width:172px;}
.bdz_subtext a{
	float:left;
	width:76px;
	padding:5px;
	text-align:center;}
	
.bdz_tab_middle span{
	float:left;
	text-align:center;
	width:80px;
	height:28px;
	
	
	}
	

	
.bdz_tab_middle span a{
	font:normal 13px/28px "宋体";
	color:#797979;
	text-align:center;
	width:80px;
	text-decoration:none;}
	
.bdz_tab_middle span a:hover{
	display:block;
	color:#666666;
	color:#000;
	text-decoration:underline;
	font-weight:bold;
	}	

	
.bdz_tab_middle span a.click{
	display:block;
	color:#666666;
	cursor: pointer;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	
	}
	
/**
变电站组合控件 end
*/
	
	