/* CSS Document */
.map_table_1{
    width:100%;
    margin:0px 0px 5px 0px;
    border:1px #979FA2 solid;
}
.map_talbe_2{
    background-image:url(../image/left6.gif);
    height:24px;
	border-bottom:1px #979FA2 solid;
	color:#000000;
	font-size:12px;
}
.map_title{
    width:50%;
    background:url(../image/logo.gif) no-repeat 3px;
	padding:3px 0px 0px 19px;
	float:left;
}
.map_talble_3{
	border-bottom:1px #EDEDED solid;
}
.map_table_4{
    background-color:#DBECFE;
	font-size:12px;
	color:#FF4800;
}
.map_img{
    width:100%;
    height:315px;
    border:1px #979FA2 solid;
	background:#A2C4EE url(../image/map_img.gif) repeat-x;
	padding:8px 8px 8px 8px;
}
.map_P{
    width:28%;
    float:right;
}
*html .map_img{
    width:100%;
    height:328px;
    border:1px #979FA2 solid;
}
*+html .map_img{
    width:100%;
    height:328px;
    border:1px #979FA2 solid;
}
.map_img_1{
	width:97%;
	height:285px;
	border:4px #FFFFFF solid;
	background-color: #F2F2F2;
	background-image: url(../image/map_img1.gif);
	background-repeat: no-repeat;
	background-position: center;
}
*html .map_img_1{
    width:97%;
    height:298px;
}
*+html .map_img_1{
    width:97%;
    height:298px;
}
.open_menu{
	width:30px;
	height:30px;
	float:right;
	margin:250px 13px 0px 0px;
}
.tj_table_1{
    width:100%;
    border:1px #979FA2 solid;
}
.titleLINE1{
	font-size:12px;
	width:100%;
	height:43px;
	background:url(../image/table_3.gif) right repeat-y;
}
.titleLINE2{
	font-size:12px;
	width:100%;
	height:28px;
	background:url(../image/table_3.gif) right repeat-y;
}
.table_Xline{
    width:79px;
    background:url(../image/table_4.gif) center no-repeat;
}
.table_num{
    width:23px;
	height:25px;
	text-align:center;
	background:url(../image/table_2.gif) right repeat-y;
	border-top:1px #ffffff solid;
	border-bottom:1px #D0D0D0 solid;
}
.line_bg{
    height:30px;
    background-image:url(../image/link_bg.gif);
}
.IMG_tb{
    background-color:#EFEFEF;
    border:1px #9F9F9F solid;
}

/*----------------------用TABLE制作的表格--------------------------*/
.table_titleBG{
    height:23px;
    background-image:url(../image/table_1.gif);
	border-bottom:1px #000000 solid;
}
.table_td1{
    border-bottom:1px #D0D0D0 solid;
}
.table_td2{
    border-top:1px #ffffff solid;
	border-bottom:1px #EDEDED solid;
}
.table_main_scrollbar{
	width:100%;
	height:100%;
	overflow: auto;
	visibility: visible;
	padding:0px 0px 0px 0px;
}
.table_titleLINE1{
	font-size:12px;
	width:100%;
	height:18px;
	background:url(../image/table_3.gif) right no-repeat;
	text-align:center;
	padding:5px 0px 0px 0px;
}
.table_titleLINE2{
	font-size:12px;
	height:18px;
	text-align:center;
	padding:5px 0px 0px 0px;
}
.table_titleLINE3{
    width:25px;
	height:23px;
	text-align:center;
	background:url(../image/table_3.gif) right no-repeat;
}