.top {
	background-image: url(../../image/111.png);
	width: 1000px;
	height: 57px;
}
  body {
 
          /*   background: #222 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAFVBMVEUqKiopKSkoKCgjIyMuLi4kJCQtLS0dJckpAAAAO0lEQVR42iXLAQoAUQhCQSvr/kfe910jHIikElsl5qVFa1iE5f0Pom/CNZdbNM6756lQ41NInMfuFPgAHVEAlGk4lvIAAAAASUVORK5CYII="); */ 
 
                        font: 13px 'trebuchet MS',Arial,Helvetica;
 
        }
 
        
 
h2, p {

        text-align: center;

        color: #fafafa;

        text-shadow: 0 1px 0 #111;        

}



a {

        color: #777;

}
 
 
 
                /*---------------------------*/                        
 
        
 
  .progress-bar {

      background-color: #CCCCCC;
float:left;
      height: 25px;

      padding: 2px;

      width: 200px;

      margin: 10px 0 10px 0;                        

      -moz-border-radius: 5px;

                  -webkit-border-radius: 5px;

                  border-radius: 5px;

      -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;

                  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;

                  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           

  }
 
   .progress-bar2 {

      background-color: #CCCC66;
float:left;
      height: 20px;

      padding: 2px;

      width: 200px;

      margin: 10px 0 10px 0;                        

      -moz-border-radius: 5px;

                  -webkit-border-radius: 5px;

                  border-radius: 5px;

      -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;

                  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;

                  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           

  }
 
 
  .progress-bar span {
	float:left;
      display: inline-block;

      height: 100%;

                  background-color: #777;

      -moz-border-radius: 3px;

                  -webkit-border-radius: 3px;

                  border-radius: 3px;

      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

                  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

                  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

                  -webkit-transition: width .4s ease-in-out;

                  -moz-transition: width .4s ease-in-out;

                  -ms-transition: width .4s ease-in-out;

                  -o-transition: width .4s ease-in-out;

                  transition: width .4s ease-in-out;                

  }
 
   .progress-bar2 span {
float:left;
     display: inline-block;

     height: 100%;

     background-color: #777;
     -moz-border-radius: 3px;

     -webkit-border-radius: 3px;

     border-radius: 3px;

     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

      -webkit-transition: width .4s ease-in-out;

      -moz-transition: width .4s ease-in-out;

      -ms-transition: width .4s ease-in-out;

      -o-transition: width .4s ease-in-out;

      transition: width .4s ease-in-out;                

 }       
 
                /*---------------------------*/                        
 
                
 
.blue span {
float:left;
       background-color: #34c2e3;   

   }
 
 
 
.orange span {

                  background-color: #fecf23;

                  background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));

                  background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);

                  background-image: -moz-linear-gradient(top, #fecf23, #fd9215);

                  background-image: -ms-linear-gradient(top, #fecf23, #fd9215);

                  background-image: -o-linear-gradient(top, #fecf23, #fd9215);

                  background-image: linear-gradient(top, #fecf23, #fd9215);  

}        
 
 
 
.green span {

                  background-color: #a5df41;
                   float:left;

                  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));

                  background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);

                  background-image: -moz-linear-gradient(top, #a5df41, #4ca916);

                  background-image: -ms-linear-gradient(top, #a5df41, #4ca916);

                  background-image: -o-linear-gradient(top, #a5df41, #4ca916);

                  background-image: linear-gradient(top, #a5df41, #4ca916);  

}                
 
.green2 span {

                  background-color: #a5df41;
                   float:left;

                  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));

                  background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);

                  background-image: -moz-linear-gradient(top, #a5df41, #4ca916);

                  background-image: -ms-linear-gradient(top, #a5df41, #4ca916);

                  background-image: -o-linear-gradient(top, #a5df41, #4ca916);

                  background-image: linear-gradient(top, #a5df41, #4ca916);  

}                      
 
                /*---------------------------*/                
 
                
 
.stripes span {

-webkit-background-size: 30px 30px;

-moz-background-size: 30px 30px;

background-size: 30px 30px;                        

            background-image: -webkit-gradient(linear, left top, right bottom,

                                                    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),

                                                    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),

                                                    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),

                                                    to(transparent));

background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,

                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,

                    transparent 75%, transparent);

background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,

                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,

                    transparent 75%, transparent);

background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,

                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,

                    transparent 75%, transparent);

background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,

                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,

                    transparent 75%, transparent);

background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,

                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,

                    transparent 75%, transparent);            



-webkit-animation: animate-stripes 3s linear infinite;

-moz-animation: animate-stripes 3s linear infinite;                       

    }
 
        
 
@-webkit-keyframes animate-stripes { 

                0% {background-position: 0 0;} 100% {background-position: 60px 0;}

}
 
        
 
        
 
@-moz-keyframes animate-stripes {

                0% {background-position: 0 0;} 100% {background-position: 60px 0;}

}
 
                
 
                /*---------------------------*/         
 
 
 
.shine span {

        position: relative;

}

                
 
 .shine span::after {

         content: '';

         opacity: 0;

         position: absolute;

         top: 0;

         right: 0;

         bottom: 0;

         left: 0;

         background: #fff;

-moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         border-radius: 3px;                        
-webkit-animation: animate-shine 2s ease-out infinite;
-moz-animation: animate-shine 2s ease-out infinite;                         

 }
 
 
 
 @-webkit-keyframes animate-shine { 

                 0% {opacity: 0; width: 0;}

                 50% {opacity: .5;}

                 100% {opacity: 0; width: 95%;}

 }
 
        
 
        
 
  @-moz-keyframes animate-shine {

         0% {opacity: 0; width: 0;}

         50% {opacity: .5;}

         100% {opacity: 0; width: 95%;}

  }
 
 
 
                /*---------------------------*/         
 
                
 
.glow span {

	-moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;

       -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;

       box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
	-webkit-animation: animate-glow 1s ease-out infinite;
	-moz-animation: animate-glow 1s ease-out infinite;                         

}
 
.glow_margin {
      margin: -1px 0 10px 0;                   
 }
 
 
@-webkit-keyframes animate-glow {

	 0% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
	
	 50% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
	
	 100% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}

 }
 
 
 
@-moz-keyframes animate-glow {

	 0% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
	
	 50% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
	
	 100% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}

 }
 
 
 
 
 /**
 导航样式
 **/
 
 .breadcrumb li {text-shadow:0 1px 0 rgba(255,255,255,0.5);}
.breadcrumb li a{color:rgba(0,0,0,0.4);}
.breadcrumb .divider{color:rgba(0,0,0,0.2);}
.breadcrumb.breadcrumb-info {background-color:#e7f5f9;}
.breadcrumb.breadcrumb-info li{color:#1e5464;}
.breadcrumb.breadcrumb-primary {background-color:#cfe0e8;}
.breadcrumb.breadcrumb-primary li{color:#0f3f9d;}
.breadcrumb.breadcrumb-success {background-color:#e7f7e7;}
.breadcrumb.breadcrumb-success li{color:#397639;}
.breadcrumb.breadcrumb-warning {background-color:#fcedd7;}
.breadcrumb.breadcrumb-warning li{color:#aa6504;}
.breadcrumb.breadcrumb-danger {background-color:#f9e2e2;}
.breadcrumb.breadcrumb-danger li{color:#722521;}
.breadcrumb.breadcrumb-inverse {background-color:#dadada;}
.breadcrumb.breadcrumb-inverse li{color:#101010;}

.breadcrumb.breadcrumb-main {
	font-family: Helvetica, Arial, sans-serif;
	font-size:11px;
	margin:-5px -15px 20px 0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


.breadcrumb.breadcrumb-main2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size:11px;
	margin:0 auto;
	float: left;
	width: 970px;
	height: 30px;
	
	border-bottom:1px solid rgba(0,0,0,0.1);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
 
 .icon-caret-right:before {content: "\f0da";}
  
 /**
 导航样式
 **/
 
